<div class="modal fade" id="registerModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Créer un compte</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form id="registerForm" method="post" action="/api/auth/register">
          <div class="mb-3">
            <label class="form-label">Nom complet</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              value="Harold"
              placeholder="Votre nom complet"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Adresse mail</label>
            <div class="input-group">
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                value="hrldbrian@gmail.com"
                placeholder="nom@example.com"
                required
              />
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Mot de passe</label>
            <div class="input-group">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                value="123456"
                placeholder="Créez un mot de passe"
                required
              />
              <span class="input-group-text password-toggle">
                <i class="fas fa-eye"></i>
              </span>
            </div>
          </div>

          <button
            type="submit"
            id="registerSubmit"
            class="btn btn-login text-white"
          >
            S'inscrire
          </button>

          <div class="register-link mt-3">
            <p class="text-center">Vous avez déjà un compte ?</p>
            <a
              href="#"
              class="fw-bold"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
              >Connectez-vous ici</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
