<!-- Navigation -->
<nav
  class="navbar navbar-expand-lg navbar-<% if (user) { %>dark bg-dark<% } else { %>light<% } %> fixed-top"
>
  <div class="container">
    <a class="navbar-brand logo-text" href="/">
      <i class="fas fa-wallet me-2"></i>BudgetWise
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard"> Mon dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transactions"> Mes transactions </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/budgets"> Mes budgets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reports"> Mes rapports </a>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav">
        <% if (user) { %>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fas fa-user-circle me-1"></i><%= user.name ||
            user.username %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="/users/profile">
                <i class="fas fa-user-cog me-2"></i>Profil
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <form action="/api/auth/logout" method="post" class="d-inline">
                <button type="submit" class="dropdown-item text-danger">
                  <i class="fas fa-sign-out-alt me-2"></i>Déconnexion
                </button>
              </form>
            </li>
          </ul>
        </li>
        <% } else { %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 111d706909519c5f0364f81f9d1fb57e70f42472
            <button
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              Se connecter
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#registerModal"
            >
              S'inscrire
            </button>
<<<<<<< HEAD
=======
            <a
=======
            <button
>>>>>>> 08099d2 (updateé)
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
            >
              Se connecter
            </button>
          </li>
          <li class="nav-item">
            <button
              class="nav-link"
              data-bs-toggle="modal"
              data-bs-target="#registerModal"
            >
<<<<<<< HEAD
>>>>>>> b07f608 (update)
=======
              S'inscrire
            </button>
>>>>>>> 08099d2 (updateé)
=======
>>>>>>> 111d706909519c5f0364f81f9d1fb57e70f42472
          </li>
        </ul>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="container container-alert mt-5 pt-3"></div>
<<<<<<< HEAD
<<<<<<< HEAD

<div class="container container-alert mt-5 pt-3"></div>
=======
>>>>>>> 08099d2 (updateé)
=======
>>>>>>> 111d706909519c5f0364f81f9d1fb57e70f42472
